p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

a {
  color: #006600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
